# Puerto en el que correrá el servidor local
PORT=8085

# Airtable API
AIRTABLE_TOKEN=tu_token_pat_de_airtable_aqui
AIRTABLE_BASE_ID=tu_base_id_de_airtable_aqui
AIRTABLE_TABLE_ID=tu_table_id_de_airtable_aqui

# n8n Email Webhooks
N8N_PROD_WEBHOOK_URL=https://n8n-servidor.host/webhook/identificador-aqui
N8N_TEST_WEBHOOK_URL=https://n8n-servidor.host/webhook-test/identificador-aqui
